*{
    background-color: black;
}

.title {
    font-size: 24px;
    background-color: blue;
    font-family: 'Times New Roman', Times, serif;
}
#Giga {
   color: black;
}
.list {
    text-align: center;
    color: white;
}
