*{
    background-color: black;
}
.cimg {
    align-content: center;
    align-items: center;
}
.title {
    font-size: 48px;
    text-align: center;
    color: grey;
    background-color: purple;
    font-family: 'Times New Roman', Times, serif;
}
#Giga {
   color: grey;
   background-color: purple;
   align-items: end;
}
.list {
    text-align: center;
    color: gray;
}
